body {
    height: 500px;
    background-image: url("https://stickerly.pstatic.net/sticker_pack/1OzmnaU2rNLhyhkZpvaJQg/5LAD7V/14/62b562f7-f8a0-4d78-a871-a26ec5a1d331.png");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 210px;
    background-size: 30rem;
}
